registry=https://pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/registry/:username=aayushbisht0173 
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/registry/:_password=["InNrbWlhMnFuaTZ2a24zd2F0emhzcXBwNWtmbnUyZmpwYno0dDdqZTY3YTZkbjJvYjV2dmEi"
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/:username=aayushbisht0173 
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/:_password="InNrbWlhMnFuaTZ2a24zd2F0emhzcXBwNWtmbnUyZmpwYno0dDdqZTY3YTZkbjJvYjV2dmEi"
//pkgs.dev.azure.com/aayushbisht0173/_packaging/aayushbisht0173/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
